# Internal registry for custom packages hosted inside the monorepo.
common --registry=file://%workspace%/registry/
# fallback to Bazel Central registry
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/
# enable bzlmod
common --enable_bzlmod


# Testing
test --test_output=errors
test --test_env=PYTEST_ADDOPTS="--color=yes --showlocals --tb=short -vv"
