# Internal registry for custom packages hosted inside the monorepo.
common --registry=file://%workspace%/internal_registry/
# fallback to Bazel Central registry
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/
# enable bzlmod
common --enable_bzlmod
