name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  bazel-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: bazel test //...

  run-main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: bazel run //src:debian_dependency_bazelizer -- -i ./tests/ci_inputs/deb_packages.in -m modules -i ./tests/ci_inputs/deb_packages_2.in
      - run: bazel run //src:debian_dependency_bazelizer  -- -i ./tests/ci_inputs/deb_packages.in -m modules
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  run-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cd example && bazel run //:debian_dependency_bazelizer  -- -i ../tests/ci_inputs/deb_packages.in -m modules -i ../tests/ci_inputs/deb_packages_2.in
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
